#notes {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#noteTabs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#noteTabs button {
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #9FA46D;
  border-radius: 10px;
}

#noteTabTitle {
  padding: 5px;
  margin: 5px;
}

#noteEditorContainer {
  flex-direction: column;
  width: 100%;
}